.photo-container{
  height: 300px;
  width: 250px;
  background: aqua;
}
.profile-container{
  padding: 30px;
  display: flex;
}
.info-container{
  padding-left: 20px;
}
.name-container{
  font-size: 18pt;
}
.status-container{
  margin-top: 10px;
}