.test-menu {
  height: 100%;
  display: flex;
  flex-basis: 14%;
  flex-grow: 1;
  position: relative;
  ul{
      width:100%;
  }
  li {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    flex-direction: column;
  }
  li:hover{
    background: red;
}
  
}
