.menu-block {
  min-width: 5%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  box-shadow: inset 0px 0px 1px;
  height: 60px;
  .menu{

  }
  a {
    color: black;
    text-decoration: none;

  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
  }
  li {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px 15px 10px;
    &:hover {
      height: calc(100% + 1px);
      border-bottom: 1px solid black;
      background: rgba(240, 240, 255, .5)
    }
  }
  .logo {
    box-shadow: inset 0px 0px 1px ;

    text-align: left;
    font-size: 20pt;
    font-weight: 600;
    padding: 15px;
  }
}
#subMenu{
  position: relative;
  min-width: 170px;
  display: flex;
  justify-content: center;
  ul{
    box-shadow: inset 0px 0px 1px;
    width: 100%;
    display: block;
    position: absolute;
    top: 100%;
    zIndex: 10;
    li{
      height: 100%;
      display: flex;
      align-items: center;
      padding: 15px 10px 15px 10px;
      box-shadow: inset 0px 0px 1px;
      &:hover {
        background: rgba(240, 240, 255, .5);
        border: none;

      }
    }
  }
}